
<section class="formSection">
    <form [formGroup]="authForm" (submit)="saveForm()"> 
       <!-- <fa-icon [icon]="faExclamationCircle" > </fa-icon>  -->
       <p class="loginError" *ngIf="registerError" class="form-error all-error"> {{registerError}}</p>
        <p class="loginError" *ngIf="loginError" class="form-error all-error"> {{loginError}}</p>
        <div>
            <label for="">Username</label>
            <input type="text" formControlName="username">
            <span *ngIf="authForm.get('username').dirty && authForm.get('username').hasError('required')" class="form-error"> Username is required</span>
            <span *ngIf="authForm.get('username').dirty && authForm.get('username').hasError('minlength')" class="form-error"> Username must be at least 3 characters</span>
        </div>
    
        <div>
            <label for="">Password</label>
            <input type="password" formControlName="password">
            <span *ngIf="authForm.get('password').dirty && authForm.get('password').hasError('required')" class="form-error"> Password is required</span>
            <span *ngIf="authForm.get('password').dirty && authForm.get('password').hasError('minlength')" class="form-error"> Password must be at least 8 characters</span>
        </div>
    
        <div *ngIf="registerMode">
            <label for=""> Confirm Password</label>
            <input type="password" formControlName="confirmPassword">
            <span *ngIf="authForm.get('confirmPassword').dirty && authForm.get('confirmPassword').hasError('mustMatch')" class="form-error">Passwords must match</span>
        </div>
    
        <button type="submit" [disabled]="!authForm.valid">
            <span *ngIf="!registerMode">Login</span>
            <span *ngIf="registerMode">Register</span>
        </button>
        
        <span *ngIf="!registerMode" (click)="initForm()"> Don't have an account? <span class="blue">Register here.</span></span>
        <span *ngIf="registerMode" (click)="initForm()"> Already have an account? <span class="blue">Login here.</span></span>
        <span routerLink="../movies" class ="guest">Continue as a guest</span>
    </form>
    
</section>
