/* .movie-item{
    display: grid;
    grid-template-columns: 1fr auto auto;
}

h3{
    cursor: pointer;
}

.movie-item fa-icon{
    font-size: 1.5em;
    margin: 15px 5px;
    cursor: pointer;
}

.trash {
    color: crimson;
}

.edit {
    color: grey;
} */

/* 


.movie {
    background: #373737;
    border-radius: 7px;
    padding: 1rem;
    width: 200px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 1rem;
    margin-right: 2rem;
    display: inline-block;
    transition: all ease-in-out 250ms;
}
.movie:hover,
.movie:focus {
    background: #2c2c2c;
}
.icons, 
.icons * {
    display: inline-block;
}
.edit,
.trash {
    padding: 1rem;
    border-radius: 7px;
    cursor: pointer;
    transition: all ease-in-out 250ms;
}
.edit {
    margin-right: 1rem;
    background: #2D3047;
}
.edit:hover,
.edit:focus {
    background: #1b2044;
}
.trash {
    background: #F15152;
}
.trash:hover,
.trash:focus {
    background: #641616;
}
.new {
    cursor: pointer;
    width: 232px;
    padding: 1rem;
    margin-bottom: 2rem;
    border: none;
    color: #FFF;
    outline: none;
    border-radius: 7px;
    background: #419D78;
    transition: all ease-in-out 250ms;
}
.new:hover,
.new:focus {
    background: #154b35;
}
.seleted {
    color: red;
} */

.movie-list {
    height: 25vh;
}

.featured {
    margin-bottom: 0.5rem;
}

.movies {
    display: flex;
    overflow: scroll;
    height: calc(100% - 2rem);
    /* background-color: var(--light); */
}

.movie {
    background: var(--light-bg);
    height: calc(100% - 1rem);
    width: 150px;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.movie .title {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.movie .view{
    background: grey;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 0 0 20px 20px;
    font-weight: 600;
}

.star{
    color: var(--accent);
}