/* .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
} */

main {
    height: 90vh;
    /* padding: 2rem; */
    padding: 0 2rem;

    box-sizing: border-box;
}
/* 
app-home {
    height: 65vh;
} */