/* .app {
    background-color:#2D2D2A;
    color: white;
    min-height: calc(100vh - 100px);
    padding: 50px;
    margin: 0;
}

.title{
    text-align: center; 
    color: #FCCA46;
    font-size: 1.75rem;
}

.film{
    color: white;
    display: inline-block;
    transform: rotate(30deg);
    margin-right: -.2rem;
} */
