/* You can add global styles to this file, and also import other style files */
/* font-family: 'Nunito', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');



:root {
    --main-bg: #2A2C24;
    --light-bg: #33352d;
    --secondary: #51daa3;
    /* #53DD6C #63A088*/
    --light: #F5F1ED;
    --title: #E0A458;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'sans-serif';
}

body {
    background: var(--main-bg);
    color: var(--light);
}

button {
    padding: 10px 20px;
    color: var(--main-bg);
    background: var(--secondary);
    border: none;
    outline: none;
    font-weight: bolder;
    cursor: pointer;
}


form{
    width: 100%;
}

form div {
    margin-bottom: 1rem;
}

form button {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: .5rem;
}

input {
    width: 100%;
    padding: .75rem;
    box-sizing: border-box;
    outline: none;
    border: 1px solid transparent;
    background: var(--light-bg);
    color: var(--light);
    transition: all 250ms ease-in-out;
}

input:focus{
    border-color: var(--secondary);
}

/* button {
    background-color: #FE7F2D; 
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
    border-radius: 2px;
    outline: none;
    border: none;
    font-weight: bold;
    font-size: 1em;
}

textarea {
    font-family: 'Nunito', 'sans-serif';
}

button:disabled {
    color: #FE7F2D;
    background-color: #444444; 
    cursor: not-allowed;
}

input, textarea{
    width: 100%;
    font-size: 1em;
    margin: 8px 0px;
    padding: 10px;
} */